@use '@angular/material' as mat;
@use './_tokens' as tokens;

$light-theme: mat.define-theme((
  color: (
    theme-type: light,
    use-system-variables: true
  ),
  typography: (
    use-system-variables: true
  ),
  density: (
    scale: 0
  )
));

$dark-theme: mat.define-theme((
  color: (
    theme-type: dark,
    use-system-variables: true
  ),
  typography: (
    use-system-variables: true
  ),
  density: (
    scale: 0
  )
));

@include mat.core();

:root {
  @include mat.all-component-themes($light-theme);
}

.dark {
  @include mat.all-component-themes($dark-theme);
}
