.dark-high-contrast {
  --md-sys-color-primary: #cefdbc;
  --md-sys-color-surface-tint: #a5d395;
  --md-sys-color-on-primary: #000000;
  --md-sys-color-primary-container: #a1cf92;
  --md-sys-color-on-primary-container: #000f00;
  --md-sys-color-secondary: #bfffce;
  --md-sys-color-on-secondary: #000000;
  --md-sys-color-secondary-container: #92d1a2;
  --md-sys-color-on-secondary-container: #000f04;
  --md-sys-color-tertiary: #c1ffca;
  --md-sys-color-on-tertiary: #000000;
  --md-sys-color-tertiary-container: #95d09f;
  --md-sys-color-on-tertiary-container: #000f03;
  --md-sys-color-error: #ffece9;
  --md-sys-color-on-error: #000000;
  --md-sys-color-error-container: #ffaea4;
  --md-sys-color-on-error-container: #220001;
  --md-sys-color-background: #11140f;
  --md-sys-color-on-background: #e1e4da;
  --md-sys-color-surface: #11140f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #43483f;
  --md-sys-color-on-surface-variant: #ffffff;
  --md-sys-color-outline: #ecf2e5;
  --md-sys-color-outline-variant: #bfc5b8;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e1e4da;
  --md-sys-color-inverse-on-surface: #000000;
  --md-sys-color-inverse-primary: #2a5121;
  --md-sys-color-primary-fixed: #c0efaf;
  --md-sys-color-on-primary-fixed: #000000;
  --md-sys-color-primary-fixed-dim: #a5d395;
  --md-sys-color-on-primary-fixed-variant: #001600;
  --md-sys-color-secondary-fixed: #b1f1c1;
  --md-sys-color-on-secondary-fixed: #000000;
  --md-sys-color-secondary-fixed-dim: #96d5a6;
  --md-sys-color-on-secondary-fixed-variant: #001507;
  --md-sys-color-tertiary-fixed: #b4f1bd;
  --md-sys-color-on-tertiary-fixed: #000000;
  --md-sys-color-tertiary-fixed-dim: #99d4a2;
  --md-sys-color-on-tertiary-fixed-variant: #001506;
  --md-sys-color-surface-dim: #11140f;
  --md-sys-color-surface-bright: #4d514a;
  --md-sys-color-surface-container-lowest: #000000;
  --md-sys-color-surface-container-low: #1d211b;
  --md-sys-color-surface-container: #2e322b;
  --md-sys-color-surface-container-high: #393d36;
  --md-sys-color-surface-container-highest: #444841;
}

.dark-medium-contrast {
  --md-sys-color-primary: #bae9aa;
  --md-sys-color-surface-tint: #a5d395;
  --md-sys-color-on-primary: #052d02;
  --md-sys-color-primary-container: #719c64;
  --md-sys-color-on-primary-container: #000000;
  --md-sys-color-secondary: #abebbb;
  --md-sys-color-on-secondary: #002d14;
  --md-sys-color-secondary-container: #619e73;
  --md-sys-color-on-secondary-container: #000000;
  --md-sys-color-tertiary: #aeebb7;
  --md-sys-color-on-tertiary: #002d11;
  --md-sys-color-tertiary-container: #659d70;
  --md-sys-color-on-tertiary-container: #000000;
  --md-sys-color-error: #ffd2cc;
  --md-sys-color-on-error: #540003;
  --md-sys-color-error-container: #ff5449;
  --md-sys-color-on-error-container: #000000;
  --md-sys-color-background: #11140f;
  --md-sys-color-on-background: #e1e4da;
  --md-sys-color-surface: #11140f;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-surface-variant: #43483f;
  --md-sys-color-on-surface-variant: #d9ded1;
  --md-sys-color-outline: #aeb4a8;
  --md-sys-color-outline-variant: #8c9287;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e1e4da;
  --md-sys-color-inverse-on-surface: #272b25;
  --md-sys-color-inverse-primary: #2a5121;
  --md-sys-color-primary-fixed: #c0efaf;
  --md-sys-color-on-primary-fixed: #001600;
  --md-sys-color-primary-fixed-dim: #a5d395;
  --md-sys-color-on-primary-fixed-variant: #183e11;
  --md-sys-color-secondary-fixed: #b1f1c1;
  --md-sys-color-on-secondary-fixed: #001507;
  --md-sys-color-secondary-fixed-dim: #96d5a6;
  --md-sys-color-on-secondary-fixed-variant: #003f20;
  --md-sys-color-tertiary-fixed: #b4f1bd;
  --md-sys-color-on-tertiary-fixed: #001506;
  --md-sys-color-tertiary-fixed-dim: #99d4a2;
  --md-sys-color-on-tertiary-fixed-variant: #00401c;
  --md-sys-color-surface-dim: #11140f;
  --md-sys-color-surface-bright: #42463f;
  --md-sys-color-surface-container-lowest: #050804;
  --md-sys-color-surface-container-low: #1b1f19;
  --md-sys-color-surface-container: #252923;
  --md-sys-color-surface-container-high: #30342d;
  --md-sys-color-surface-container-highest: #3b3f38;
}

.dark {
  --md-sys-color-primary: #a5d395;
  --md-sys-color-surface-tint: #a5d395;
  --md-sys-color-on-primary: #11380b;
  --md-sys-color-primary-container: #295020;
  --md-sys-color-on-primary-container: #c0efaf;
  --md-sys-color-secondary: #96d5a6;
  --md-sys-color-on-secondary: #00391c;
  --md-sys-color-secondary-container: #12512e;
  --md-sys-color-on-secondary-container: #b1f1c1;
  --md-sys-color-tertiary: #99d4a2;
  --md-sys-color-on-tertiary: #003918;
  --md-sys-color-tertiary-container: #18512b;
  --md-sys-color-on-tertiary-container: #b4f1bd;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-background: #11140f;
  --md-sys-color-on-background: #e1e4da;
  --md-sys-color-surface: #11140f;
  --md-sys-color-on-surface: #e1e4da;
  --md-sys-color-surface-variant: #43483f;
  --md-sys-color-on-surface-variant: #c3c8bc;
  --md-sys-color-outline: #8d9387;
  --md-sys-color-outline-variant: #43483f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e1e4da;
  --md-sys-color-inverse-on-surface: #2e322b;
  --md-sys-color-inverse-primary: #406836;
  --md-sys-color-primary-fixed: #c0efaf;
  --md-sys-color-on-primary-fixed: #002200;
  --md-sys-color-primary-fixed-dim: #a5d395;
  --md-sys-color-on-primary-fixed-variant: #295020;
  --md-sys-color-secondary-fixed: #b1f1c1;
  --md-sys-color-on-secondary-fixed: #00210e;
  --md-sys-color-secondary-fixed-dim: #96d5a6;
  --md-sys-color-on-secondary-fixed-variant: #12512e;
  --md-sys-color-tertiary-fixed: #b4f1bd;
  --md-sys-color-on-tertiary-fixed: #00210b;
  --md-sys-color-tertiary-fixed-dim: #99d4a2;
  --md-sys-color-on-tertiary-fixed-variant: #18512b;
  --md-sys-color-surface-dim: #11140f;
  --md-sys-color-surface-bright: #363a34;
  --md-sys-color-surface-container-lowest: #0c0f0a;
  --md-sys-color-surface-container-low: #191d17;
  --md-sys-color-surface-container: #1d211b;
  --md-sys-color-surface-container-high: #272b25;
  --md-sys-color-surface-container-highest: #32362f;
}

.light-high-contrast {
  --md-sys-color-primary: #0c3407;
  --md-sys-color-surface-tint: #406836;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #2b5222;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-secondary: #003419;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #165430;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-tertiary: #003415;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #1b532d;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #600004;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #98000a;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-background: #f8fbf1;
  --md-sys-color-on-background: #191d17;
  --md-sys-color-surface: #f8fbf1;
  --md-sys-color-on-surface: #000000;
  --md-sys-color-surface-variant: #dfe4d7;
  --md-sys-color-on-surface-variant: #000000;
  --md-sys-color-outline: #282e25;
  --md-sys-color-outline-variant: #454b41;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2e322b;
  --md-sys-color-inverse-on-surface: #ffffff;
  --md-sys-color-inverse-primary: #a5d395;
  --md-sys-color-primary-fixed: #2b5222;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-primary-fixed-dim: #143b0d;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary-fixed: #165430;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-secondary-fixed-dim: #003b1d;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary-fixed: #1b532d;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #003c19;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-surface-dim: #b7bab1;
  --md-sys-color-surface-bright: #f8fbf1;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #eff2e8;
  --md-sys-color-surface-container: #e1e4da;
  --md-sys-color-surface-container-high: #d2d6cc;
  --md-sys-color-surface-container-highest: #c4c8be;
}

.light-medium-contrast {
  --md-sys-color-primary: #183e11;
  --md-sys-color-surface-tint: #406836;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #4e7743;
  --md-sys-color-on-primary-container: #ffffff;
  --md-sys-color-secondary: #003f20;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #3e7951;
  --md-sys-color-on-secondary-container: #ffffff;
  --md-sys-color-tertiary: #00401c;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #41794e;
  --md-sys-color-on-tertiary-container: #ffffff;
  --md-sys-color-error: #740006;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #cf2c27;
  --md-sys-color-on-error-container: #ffffff;
  --md-sys-color-background: #f8fbf1;
  --md-sys-color-on-background: #191d17;
  --md-sys-color-surface: #f8fbf1;
  --md-sys-color-on-surface: #0e120d;
  --md-sys-color-surface-variant: #dfe4d7;
  --md-sys-color-on-surface-variant: #32382f;
  --md-sys-color-outline: #4e544a;
  --md-sys-color-outline-variant: #696f64;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2e322b;
  --md-sys-color-inverse-on-surface: #eff2e8;
  --md-sys-color-inverse-primary: #a5d395;
  --md-sys-color-primary-fixed: #4e7743;
  --md-sys-color-on-primary-fixed: #ffffff;
  --md-sys-color-primary-fixed-dim: #365e2d;
  --md-sys-color-on-primary-fixed-variant: #ffffff;
  --md-sys-color-secondary-fixed: #3e7951;
  --md-sys-color-on-secondary-fixed: #ffffff;
  --md-sys-color-secondary-fixed-dim: #24603b;
  --md-sys-color-on-secondary-fixed-variant: #ffffff;
  --md-sys-color-tertiary-fixed: #41794e;
  --md-sys-color-on-tertiary-fixed: #ffffff;
  --md-sys-color-tertiary-fixed-dim: #285f38;
  --md-sys-color-on-tertiary-fixed-variant: #ffffff;
  --md-sys-color-surface-dim: #c4c8be;
  --md-sys-color-surface-bright: #f8fbf1;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f5eb;
  --md-sys-color-surface-container: #e6e9e0;
  --md-sys-color-surface-container-high: #dbded4;
  --md-sys-color-surface-container-highest: #d0d3c9;
}

.light {
  --md-sys-color-primary: #406836;
  --md-sys-color-surface-tint: #406836;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #c0efaf;
  --md-sys-color-on-primary-container: #295020;
  --md-sys-color-secondary: #2e6a44;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #b1f1c1;
  --md-sys-color-on-secondary-container: #12512e;
  --md-sys-color-tertiary: #326941;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #b4f1bd;
  --md-sys-color-on-tertiary-container: #18512b;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-background: #f8fbf1;
  --md-sys-color-on-background: #191d17;
  --md-sys-color-surface: #f8fbf1;
  --md-sys-color-on-surface: #191d17;
  --md-sys-color-surface-variant: #dfe4d7;
  --md-sys-color-on-surface-variant: #43483f;
  --md-sys-color-outline: #73796e;
  --md-sys-color-outline-variant: #c3c8bc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2e322b;
  --md-sys-color-inverse-on-surface: #eff2e8;
  --md-sys-color-inverse-primary: #a5d395;
  --md-sys-color-primary-fixed: #c0efaf;
  --md-sys-color-on-primary-fixed: #002200;
  --md-sys-color-primary-fixed-dim: #a5d395;
  --md-sys-color-on-primary-fixed-variant: #295020;
  --md-sys-color-secondary-fixed: #b1f1c1;
  --md-sys-color-on-secondary-fixed: #00210e;
  --md-sys-color-secondary-fixed-dim: #96d5a6;
  --md-sys-color-on-secondary-fixed-variant: #12512e;
  --md-sys-color-tertiary-fixed: #b4f1bd;
  --md-sys-color-on-tertiary-fixed: #00210b;
  --md-sys-color-tertiary-fixed-dim: #99d4a2;
  --md-sys-color-on-tertiary-fixed-variant: #18512b;
  --md-sys-color-surface-dim: #d8dbd2;
  --md-sys-color-surface-bright: #f8fbf1;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f5eb;
  --md-sys-color-surface-container: #ecefe5;
  --md-sys-color-surface-container-high: #e6e9e0;
  --md-sys-color-surface-container-highest: #e1e4da;
}
