:root {
  --md-sys-color-primary: #406836;
  --md-sys-color-surface-tint: #406836;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #c0efaf;
  --md-sys-color-on-primary-container: #295020;
  --md-sys-color-secondary: #2e6a44;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #b1f1c1;
  --md-sys-color-on-secondary-container: #12512e;
  --md-sys-color-tertiary: #326941;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #b4f1bd;
  --md-sys-color-on-tertiary-container: #18512b;
  --md-sys-color-error: #ba1a1a;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #ffdad6;
  --md-sys-color-on-error-container: #93000a;
  --md-sys-color-background: #f8fbf1;
  --md-sys-color-on-background: #191d17;
  --md-sys-color-surface: #f8fbf1;
  --md-sys-color-on-surface: #191d17;
  --md-sys-color-surface-variant: #dfe4d7;
  --md-sys-color-on-surface-variant: #43483f;
  --md-sys-color-outline: #73796e;
  --md-sys-color-outline-variant: #c3c8bc;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #2e322b;
  --md-sys-color-inverse-on-surface: #eff2e8;
  --md-sys-color-inverse-primary: #a5d395;
  --md-sys-color-primary-fixed: #c0efaf;
  --md-sys-color-on-primary-fixed: #002200;
  --md-sys-color-primary-fixed-dim: #a5d395;
  --md-sys-color-on-primary-fixed-variant: #295020;
  --md-sys-color-secondary-fixed: #b1f1c1;
  --md-sys-color-on-secondary-fixed: #00210e;
  --md-sys-color-secondary-fixed-dim: #96d5a6;
  --md-sys-color-on-secondary-fixed-variant: #12512e;
  --md-sys-color-tertiary-fixed: #b4f1bd;
  --md-sys-color-on-tertiary-fixed: #00210b;
  --md-sys-color-tertiary-fixed-dim: #99d4a2;
  --md-sys-color-on-tertiary-fixed-variant: #18512b;
  --md-sys-color-surface-dim: #d8dbd2;
  --md-sys-color-surface-bright: #f8fbf1;
  --md-sys-color-surface-container-lowest: #ffffff;
  --md-sys-color-surface-container-low: #f2f5eb;
  --md-sys-color-surface-container: #ecefe5;
  --md-sys-color-surface-container-high: #e6e9e0;
  --md-sys-color-surface-container-highest: #e1e4da;
}

.dark {
  --md-sys-color-primary: #a5d395;
  --md-sys-color-surface-tint: #a5d395;
  --md-sys-color-on-primary: #11380b;
  --md-sys-color-primary-container: #295020;
  --md-sys-color-on-primary-container: #c0efaf;
  --md-sys-color-secondary: #96d5a6;
  --md-sys-color-on-secondary: #00391c;
  --md-sys-color-secondary-container: #12512e;
  --md-sys-color-on-secondary-container: #b1f1c1;
  --md-sys-color-tertiary: #99d4a2;
  --md-sys-color-on-tertiary: #003918;
  --md-sys-color-tertiary-container: #18512b;
  --md-sys-color-on-tertiary-container: #b4f1bd;
  --md-sys-color-error: #ffb4ab;
  --md-sys-color-on-error: #690005;
  --md-sys-color-error-container: #93000a;
  --md-sys-color-on-error-container: #ffdad6;
  --md-sys-color-background: #11140f;
  --md-sys-color-on-background: #e1e4da;
  --md-sys-color-surface: #11140f;
  --md-sys-color-on-surface: #e1e4da;
  --md-sys-color-surface-variant: #43483f;
  --md-sys-color-on-surface-variant: #c3c8bc;
  --md-sys-color-outline: #8d9387;
  --md-sys-color-outline-variant: #43483f;
  --md-sys-color-shadow: #000000;
  --md-sys-color-scrim: #000000;
  --md-sys-color-inverse-surface: #e1e4da;
  --md-sys-color-inverse-on-surface: #2e322b;
  --md-sys-color-inverse-primary: #406836;
  --md-sys-color-surface-dim: #11140f;
  --md-sys-color-surface-bright: #363a34;
  --md-sys-color-surface-container-lowest: #0c0f0a;
  --md-sys-color-surface-container-low: #191d17;
  --md-sys-color-surface-container: #1d211b;
  --md-sys-color-surface-container-high: #272b25;
  --md-sys-color-surface-container-highest: #32362f;
}
